#s6.container {
    min-height: 0;
    max-height: 100vh;
}

#s6 .inside {
    max-width: none;
}

#swiper-02 {
    padding-top: 4em;
    padding-bottom: 4em;
    position: relative;
}

#swiper-02 .item {
    background-color: var(--bg-color-1);
    border-width: 1px;
    border-radius: 24px;
    border-style: solid;
    padding: 20px;
    max-width: 29%;
    font-size: 1.15rem;
    margin-left: 2em;
    margin-right: 2em;
    position: relative;
    overflow: visible;
}

#swiper-02 .swiper-slide {
    display: inline-block;
    box-shadow: 5px 5px 1px var(--color-red);
    background-color: var(--bg-color-1);
    border-color: var(--color-red);
    border-radius: var(--bord-radius) ;
    padding: 1em 1em;
    font-family: 'BrisaSans-Medium';
    position: relative;
    z-index: 1;
    margin-top: 5px;
}

#s6 .orange {
    border-color: var(--color-orange);
    box-shadow: 5px 5px 1px var(--color-orange);
}

#s6 .green {
    border-color: var(--color-green);
    box-shadow: 5px 5px 1px var(--color-green);
}

.swiper-slide .rated img {
    max-width: 20px;
}

#s6 .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet-active {
    background-color: red;
    cursor: pointer;
    opacity: 1;
}

#s6 #swiper-02 .item {
    min-height: 200px;
}

#s6 #swiper-02 .item:not(.swiper-slide-active) {
    opacity: .3;
}

#swiper-02.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 8px;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 50%;
    background: #999;
    opacity: .5;
}

#s6 .swiper-button-next, #s6 .swiper-button-prev {
    /* color: var(--lnk-color-1); */
    visibility: hidden;
    width: 0;
    height: 0;
    display: none;
}

#s6 .swiper-slide .green {
    border-color: rgba(83, 224, 149, 0.133);
}