#s2 {
    min-height: 0;
}

#s2 .inside {
    max-width: none;
    padding:0;
}

#s2 .cols {
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
}

#s2 .swiper-container {
    /* padding: 35px; */
}

#s2 .swiper-wrapper .item {
    height:100%;
    /* min-height: 50vh; */
}

#s2 .swiper-slide, #s2 .item {
    height:auto;
    padding-top: 80px;
    padding-bottom: 80px;
}

#s2 .swiper-slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height:auto;
}

#s2 .swiper-slide.bg1 {
    background-image: url("../img/bg1.jpg");
}
#s2 .swiper-slide.bg2 {
    background-image: url("../img/bg2.jpg");
}
#s2 .swiper-slide.bg3 {
    background-image: url("../img/bg3.jpg");
}


/* .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 0;
} */

#swiper-01 .swiper-pagination {
    transition: .3s opacity;
    transform: translateY(-50% );
    left: 0;
    top: 50%;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#swiper-01.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    background-position: 20px center;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-color: transparent;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    display: block;
    margin: 0;
    margin-bottom: 20px;
    width: 60px;
    height:40px;
    cursor: pointer;
    opacity: 1;
}

#s2 .swiper-pagination-bullet:nth-child(1) {
    background-image: url("../img/icon_fruit2.svg");
}

#s2 .swiper-pagination-bullet:nth-child(2) {
    background-image: url("../img/icon_fruit1.svg");
}

#s2 .swiper-pagination-bullet:nth-child(3) {
    background-image: url("../img/icon_fruit3.svg");
}

#s2 #swiper-01 .swiper-pagination-bullet-active:nth-child(1) {
    background-image: url("../img/icon_fruit2_a.svg");
    background-color: var(--color-red);
}

#s2 #swiper-01 .swiper-pagination-bullet-active:nth-child(2) {
    background-image: url("../img/icon_fruit1_a.svg");
    background-color: var(--color-orange);
}

#s2 #swiper-01 .swiper-pagination-bullet-active:nth-child(3) {
    background-image: url("../img/icon_fruit3_a.svg");
    background-color: var(--color-green);
}

#s2 .swiper-pagination-bullet-active {

    opacity: 1;
}

#s2 .swiper-button-next, #s2 .swiper-button-prev {
    /* color: var(--lnk-color-1); */
    visibility: hidden;
    width: 0;
    height: 0;
    display: none;
}


/*

header .swiper-button-next, header .swiper-button-prev {
    color: var(--lnk-color-1);
    opacity:.6;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
    color: var(--lnk-color-2);
    opacity:1;
}

header .swiper-button-next:hover, header .swiper-button-prev:hover {
    color: var(--lnk-color-2);
    opacity:1;
}

.swiper-button-next:after, 
.swiper-button-prev:after {
    font-size: 2.5rem;
}

.swiper-button-prev {
    left: 0;
}

.swiper-button-next {
    right: 0;
} */

